.oil {
	border:1px solid #ACBF80;
	margin-right:10px;
	margin-bottom:10px;
	float:left;
	padding:10px;
	height:200px;
	width:15%;
	min-width:100px;
	text-align:center;
}

.truncate {
	width:100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#user {
	text-transform: capitalize;
}

@media (max-width: 600px) {

	.logo {
		width:100%;
	}
	.oil {
		min-width:auto;
		border:0;
		height:auto;
		border-bottom:1px solid #eee;
		margin:0;
		margin-bottom:10px;
		padding:0;
		padding-bottom:10px;
		width:100%;
		float:none;
	}
}

#oils {
	margin-bottom:10px;
}

.oil h2 {
	font-size:1.2em;
	margin:4px 0 4px 0;
}

a:link h2 {
	text-decoration:underline;
	color:
}

.oil h3 {
	font-size:1em;
	margin:4px 0 4px 0;
	font-style:italic;
}

.bottle {
	width:100px;
}
